<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="in.software.analytics.parichayana.core.internal.preferences.ParichayanaPreferencesInitializer"/>
 </extension>
 
  <extension
       id="parichayanaNature"
       name="Parichayana"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
          class="in.software.analytics.parichayana.core.internal.nature.ParichayanaNature">
       </run>
    </runtime>
    <requires-nature
          id="org.eclipse.jdt.core.javanature">
    </requires-nature>
    <builder
          id="in.software.analytics.parichayana.core.parichayanaBuilder">
    </builder>
    </extension>
    
    <extension 
		point="org.eclipse.core.resources.builders" 
		id="parichayanaBuilder"
		name="Parichayana Builder">
	<builder>
		<run class="in.software.analytics.parichayana.core.internal.builder.ParichayanaBuilder">
		</run>
	</builder>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana Problem">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.pste"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana PSTE">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
 
  <extension 
  		id="in.software.analytics.parichayana.core.problem.lgte"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana LGTE">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
    
  <extension 
  		id="in.software.analytics.parichayana.core.problem.ctge"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana CTGE">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.lgrn"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana LGRN">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.psrn"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana PSRN">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.mllm"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana MLLM">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.rnhr"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana RNHR">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.thge"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana THGE">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.wepg"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana WEPG">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.rrgc"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana RRGC">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.inee"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana INEE">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.lgft"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana LGFT">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.cnpe"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana CNPE">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
  <extension 
  		id="in.software.analytics.parichayana.core.problem.tnpe"
  		point="org.eclipse.core.resources.markers"
  		name="Parichayana TNPE">
	<super type="in.software.analytics.parichayana.core.problem"/>
	<persistent value="true"/>
  </extension>
  
</plugin>
