<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
		point="org.eclipse.ui.commands">
		
		<command
			id="in.software.analytics.parichayana.ui.addParichayanaNature"
			name="Add Parichayana Capabilities"
			categoryId="in.software.analytics.parichayana.category"
			defaultHandler="in.software.analytics.parichayana.ui.internal.actions.AddParichayanaHandler"/>
		<command
			id="in.software.analytics.parichayana.ui.removeParichayanaNature"
			name="Remove Parichayana Capabilities"
			categoryId="in.software.analytics.parichayana.category"
			defaultHandler="in.software.analytics.parichayana.ui.internal.actions.RemoveParichayanaHandler"/>
		<command
			id="in.software.analytics.parichayana.ui.openParichayanaFile"
			name="Open Parichayana Output File"
			categoryId="in.software.analytics.parichayana.category"
			defaultHandler="in.software.analytics.parichayana.ui.internal.actions.OpenParichayanaFileHandler"/>
			
		<category
			id="in.software.analytics.parichayana.category"
			name="Parichayana Category">
		</category>
   </extension>
   
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="in.software.analytics.parichayana.ui.addParichayanaNature"
               style="push">
            <visibleWhen checkEnabled="false">
					<and>
						<count value="1"/>
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject">
								<and>
									<test
										property="org.eclipse.core.resources.projectNature"
										value="org.eclipse.jdt.core.javanature"/>
										
									<not>
										<test 
											property="org.eclipse.core.resources.projectNature" 
											value="in.software.analytics.parichayana.core.parichayanaNature"/>
									</not>
								</and>
							</adapt>
						</iterate>
					</and>
				</visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="in.software.analytics.parichayana.ui.openParichayanaFile"
               style="push">
            <visibleWhen checkEnabled="false">
					<and>
						<count value="1"/>
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject">
								<and>
									<test 
										property="org.eclipse.core.resources.projectNature" 
										value="in.software.analytics.parichayana.core.parichayanaNature"/>
								</and>
							</adapt>
						</iterate>
					</and>
				</visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="in.software.analytics.parichayana.ui.removeParichayanaNature"
               style="push">
            <visibleWhen checkEnabled="false">
					<and>
						<count value="1"/>
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject">
								<and>
									<test 
										property="org.eclipse.core.resources.projectNature" 
										value="in.software.analytics.parichayana.core.parichayanaNature"/>
								</and>
							</adapt>
						</iterate>
					</and>
				</visibleWhen>
         </command>
      </menuContribution>
  </extension>
  
  <extension
         point="org.eclipse.ui.propertyPages">
       <page
            name="Parichayana"
            class="in.software.analytics.parichayana.ui.internal.preferences.ParichayanaPreferencePage"
            id="in.software.analytics.parichayana.parichayanaPropertyPage">
         <enabledWhen>
		     	<adapt type="org.eclipse.core.resources.IProject">
		     		<test property="org.eclipse.core.resources.projectNature"
		     		   value="in.software.analytics.parichayana.core.parichayanaNature"/>
				</adapt>
         </enabledWhen>
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page 
         class="in.software.analytics.parichayana.ui.internal.preferences.ParichayanaPreferencePage" 
         id="in.software.analytics.parichayana.parichayanaPreferencePage" 
         name="Parichayana">
      </page>
   </extension>
   
</plugin>
